body{
	background-color: #221E1D;
	/*width: 80%;
	margin: auto;*/
}
header{
	text-align: center;
	margin: auto;
	padding: 20px 0;
	font-size: 30px;
	font-weight: bold;
}
nav ul li{
	margin: auto;
	text-decoration: none;
	text-align: center;
	padding: 5px;
	position: relative;
	float: left;
	color: #221E1D;
}
nav ul li:hover a{
	background-color: #ECEAE0;
	color: #4EB1BA;
}
h2{
	font-size: 20px;
	text-decoration: underline;
	font-weight: bold;
}
p{
	line-height: 30px;
}
/***********************************************/
.menu-fixed{
	position: fixed;
	top:0;
	left: 0;
	margin: 0!important;
	width: 100vw;
	z-index: 100;º
}
/***********************************************/
.top{
	/*background-image: url("../img/header-background.png");*/
}
.top h1{
	color:#ECEAE0;
}
.container{
	width: 960px;
	margin: auto;
	overflow: hidden;
	background-color: #4EB1BA;
}
.row{
	clear: both;
	padding: 30px;
	/*border-radius: 5px;*/
	overflow: hidden;
	margin: 20px 20px; /***********************************************/
	
	background-color: #ECEAE0;
	color: #221E1D;

	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;

	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.caja{
	border: solid #63AA9C 2px;
	
}
.col3{
	position: relative;
	width: calc(calc(100%/12)*3);
	margin: auto;
	float: left;
}
.col6{
	position: relative;
	width: calc(calc(100%/12)*6);
	margin: auto;
	float: left;
}
.col12{
	position: relative;
	width: calc(calc(100%/12)*12);
	margin: auto;
	float: left;
}
.contacto{
	text-align: center;
}
a{
	background-color: black;
	color: #ECEAE0;
	border: 1px #221E1D solid;
	text-decoration: none;
    /*pointer-events:none;*/
    background-color: black;
	border-radius: 5px;
	padding: 5px;
}